# Exercise - The Steepener Trade

#### Notation Commands

$$\newcommand{\Black}{\mathcal{B}}
\newcommand{\Blackcall}{\Black_{\mathrm{call}}}
\newcommand{\Blackput}{\Black_{\mathrm{put}}}
\newcommand{\EcondS}{\hat{S}_{\mathrm{conditional}}}
\newcommand{\Efwd}{\mathbb{E}^{T}}
\newcommand{\Ern}{\mathbb{E}^{\mathbb{Q}}}
\newcommand{\Tfwd}{T_{\mathrm{fwd}}}
\newcommand{\Tunder}{T_{\mathrm{bond}}}
\newcommand{\accint}{A}
\newcommand{\carry}{\widetilde{\cpn}}
\newcommand{\cashflow}{C}
\newcommand{\convert}{\phi}
\newcommand{\cpn}{c}
\newcommand{\ctd}{\mathrm{CTD}}
\newcommand{\disc}{Z}
\newcommand{\done}{d_{1}}
\newcommand{\dt}{\Delta t}
\newcommand{\dtwo}{d_{2}}
\newcommand{\flatvol}{\sigma_{\mathrm{flat}}}
\newcommand{\flatvolT}{\sigma_{\mathrm{flat},T}}
\newcommand{\float}{\mathrm{flt}}
\newcommand{\freq}{m}
\newcommand{\futprice}{\mathcal{F}(t,T)}
\newcommand{\futpriceDT}{\mathcal{F}(t+h,T)}
\newcommand{\futpriceT}{\mathcal{F}(T,T)}
\newcommand{\futrate}{\mathscr{f}}
\newcommand{\fwdprice}{F(t,T)}
\newcommand{\fwdpriceDT}{F(t+h,T)}
\newcommand{\fwdpriceT}{F(T,T)}
\newcommand{\fwdrate}{f}
\newcommand{\fwdvol}{\sigma_{\mathrm{fwd}}}
\newcommand{\fwdvolTi}{\sigma_{\mathrm{fwd},T_i}}
\newcommand{\grossbasis}{B}
\newcommand{\hedge}{\Delta}
\newcommand{\ivol}{\sigma_{\mathrm{imp}}}
\newcommand{\logprice}{p}
\newcommand{\logyield}{y}
\newcommand{\mat}{(n)}
\newcommand{\nargcond}{d_{1}}
\newcommand{\nargexer}{d_{2}}
\newcommand{\netbasis}{\tilde{\grossbasis}}
\newcommand{\normcdf}{\mathcal{N}}
\newcommand{\notional}{K}
\newcommand{\pfwd}{P_{\mathrm{fwd}}}
\newcommand{\pnl}{\Pi}
\newcommand{\price}{P}
\newcommand{\probexer}{\hat{\mathcal{P}}_{\mathrm{exercise}}}
\newcommand{\pvstrike}{K^*}
\newcommand{\refrate}{r^{\mathrm{ref}}}
\newcommand{\rrepo}{r^{\mathrm{repo}}}
\newcommand{\spotrate}{r}
\newcommand{\spread}{s}
\newcommand{\strike}{K}
\newcommand{\swap}{\mathrm{sw}}
\newcommand{\swaprate}{\cpn_{\swap}}
\newcommand{\tbond}{\mathrm{fix}}
\newcommand{\ttm}{\tau}
\newcommand{\value}{V}
\newcommand{\vega}{\nu}
\newcommand{\years}{\tau}
\newcommand{\yearsACT}{\tau_{\mathrm{act/360}}}
\newcommand{\yield}{Y}$$

A popular trade in 2024 was the **2-10 steepener** trade, which was a trade designed to capture the changes in the slope of yield curve while being hedged to parallel shifts in it. 

In particular, the trade believes that the 2-year treasury yield is too high relative to the 10-year treasury yield. 

### The Trade

You will be putting on a trade with `50 million` notional long in the `2yr`. As always, consider the size of each bond to be `100` face value.

### Data

Find the data in 
`data/steepener_trade_2024-01-02.xlsx`
* `info` - info about the two treasuries
* `clean` - timeseries of clean prices
* `dirty` - timeseries of dirty prices
* `duration` - timeseries of duration
* `database` - combined data of everything - no need to use this

We'll mostly work with the **dirty** prices, but you may find the clean prices useful in the last problem.

In [ ]:
import pandas as pd

#DATE = '2023-06-30'
DATE = '2024-01-02'

FILE_DATA = f'../data/steepener_trade_{DATE}.xlsx'

info = pd.read_excel(FILE_DATA,sheet_name='info').set_index('KYTREASNO').T
clean = pd.read_excel(FILE_DATA,sheet_name='clean price').set_index('quote date')
dirty = pd.read_excel(FILE_DATA,sheet_name='dirty price').set_index('quote date')
duration = pd.read_excel(FILE_DATA,sheet_name='duration').set_index('quote date')

In [ ]:
display(info)

KYTREASNO                      207652               208147
type                             note                 note
quote date        2024-01-02 00:00:00  2024-01-02 00:00:00
issue date        2020-12-31 00:00:00  2023-11-15 00:00:00
maturity date     2025-12-31 00:00:00  2033-11-15 00:00:00
ttm                          1.995893             9.869952
accrual fraction             0.010989             0.263736
cpn rate                        0.375                  4.5
bid                         92.578125           104.578125
ask                          92.59375           104.640625
price                       92.585938           104.609375
accrued int                   0.00206             0.593407
dirty price                 92.587998           105.202782
ytm                          0.042904             0.039309
total size                67977000000          77746000000
duration                     1.991378             8.085623

In [ ]:
display(dirty.tail().style.format('{:.2f}').format_index('{:%Y-%m-%d}').set_caption('Dirty Prices'))
display(duration.tail().style.format('{:.2f}').format_index('{:%Y-%m-%d}').set_caption('Duration'))

### 1.1.

Consider the first date of the sample for which you have prices and duration data.

Construct the trade such that you are zero net dollar duration.

* What is the dollar value of your short position (against your 50 million long.)
* How many 2-year bonds? (Assume you can have fractional bonds.)
* How many 10-year bonds? (Assume you can have fractional bonds.)

#### Note
For price calculations, use the dirty price.

### 1.2.

For each date in the time-series, re-calculate the the position sizes and hedge ratio to set dollar duration to zero.

Plot the timeseries across the ...
* the hedge ratio over time.
* the number of 2 years to keep at 50 million notional long.
* the number of 10 year bonds.

Report the values for the last date in the sample.

### 1.3.

Calculate the profit and loss of your trade.

Be careful to note that your positioning at time $t$ is scaled by the price change from $t$ to $t+1$. (Your profit today depends on your positioning yesterday.)

Report the first and last day's profit for the 2yr, 10yr, and net difference.

### 1.4.

Plot the PnL over time for your positioning in the...
* 2yr
* 10yr
* net

### 1.5.

Your profit above ignored coupons.

Calculate the timeseries of coupons for the 2yr and 10yr. Add these coupons to the net PnL calculated above.
* Report the cumulative profit over the entire sample with the coupons, compared to your answer above without the coupons.

#### Hint
1. Calculate the dates which have coupons by looking for dates where the clean and dirty price matches. The prior date was a coupon, at the coupon rate given in the `info` tab.

1. Be careful to scale the coupons by the number of bonds held on the prior day. (Coupon at $t$ depends on positioning at $t-1$.)

***